@font-face {
    font-family: "TripAdvisor_Regular";
    src: url("../fonts/TripAdvisor_Regular.eot");
    src: url("../fonts/TripAdvisor_Regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/TripAdvisor_Regular.woff2") format("woff2"),
        url("../fonts/TripAdvisor_Regular.woff") format("woff"),
        url("../fonts/TripAdvisor_Regular.ttf") format("truetype"),
        url("../fonts/TripAdvisor_Regular.svg#TripAdvisor_Regular") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Trip Sans";
    src: url("../fonts/TripSans-Regular.eot");
    src: url("../fonts/TripSans-Regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/TripSans-Regular.woff2") format("woff2"),
        url("../fonts/TripSans-Regular.woff") format("woff"),
        url("../fonts/TripSans-Regular.ttf") format("truetype"),
        url("../fonts/TripSans-Regular.svg#TripSans-Regular") format("svg");
    font-weight: normal;
    font-style: normal;
}